{% extends "layouts/admin.html.twig" %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>{{page_title}}</h1>
        {% include "parts/_alerts.html.twig" %}

        {{ include('admin/movie/_form.html.twig') }}

        <a href="{{ path('app_admin_movie_index') }}" class="btn btn-sm btn-secondary my-2">back to list</a>
    </div>
</div>
{% endblock %}
