{% extends 'layouts/base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
        <div class="col-12">
            <h1>{{ page_title }}</h1>
        </div>
		{% for character in characters %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                {{ component('character_card', {
                    'name': character.name,
                    'mass': character.mass,
                    'height': character.height,
                    'gender': character.gender,
                    'picture': "https://picsum.photos/414/311",
                    'url': path('app_admin_character_edit', {'id': character.id})
                }) }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
