{% extends 'layouts/base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
        <div class="col-12">
            <h1>{{ page_title }}</h1>
        </div>
		{% for character in characters %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                {{ component('character_card', {
                    'character': character,
                }) }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
