{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <h1>Create new Character</h1>

    {{ include('admin/character/_form.html.twig') }}

    <a href="{{ path('app_admin_character_index') }}" class="btn btn-sm btn-secondary my-2">back to list</a>
{% endblock %}
