{% extends 'layouts/admin.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-auto col-lg-3">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <span>count_characters</span>
                <span class="display-1 fw-bold">{{ count_characters }}</span>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-auto col-lg-3">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <span>count_movies</span>
                <span class="display-1 fw-bold">{{ count_movies }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
